{% assign section = site.data.blocks.block-stories %}
<div id="stories" class="section" data-scroll-section>
  <div class="section__title">
    <h2 class="letter-animate" id="{{ section.template }}-h2" data-scroll data-scroll-call="text-animate+{{ section.template }}-h2">{{ section.section_title }}</h2>
  </div>
  <div class="stories__projects">
    {% for selected_project in section.selected_stories %}
      {% assign found_project = site.stories | where:"title", selected_project %}
      {% assign project = found_project[0] %}
      <div id="{{ project.title | slugify }}" data-scroll data-scroll-call="animate-in+{{ project.title | slugify}}" class="stories__projects__project project animate__fadeIn">
        <div class="thumbnail">
          <button class="btn btn__circle btn__light btn__scale btn__text-animate video_modal_trigger" data-source="{{ project.source }}" data-poster="{{ project.image }}">
            <span class="animate__text" data-content="Play">
              <span class="animate__text__hide">Play</span>
            </span>
          </button>
          <img src="{{ project.image }}">
        </div>
        <div class="content">
          <div class="information">
            <p class="title" style="--transition-delay: 0.1s"><span>{{ project.title }}</span></p>
            <p class="description" style="--transition-delay: 0.2s"><span>{{ project.description }}</span></p>
          </div>
          <div class="preview">
            <p class="number animate__text" data-content="0{{ forloop.index }}">
              <span class="animate__text__hide">0{{ forloop.index }}</span>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>