{% assign section = site.data.blocks.block-video %}
<div id="video" class="section video full-width no-bg" data-scroll-section>
  <div class="thumbnail">
    <button class="btn btn__circle btn__light btn__scale btn__text-animate video_modal_trigger" data-source="{{ section.video }}" data-poster="{{ section.thumbnail }}">
      <span class="animate__text" data-content="Play">
        <span class="animate__text__hide">Play</span>
      </span>
    </button>
    <img src="{{ section.thumbnail }}">
  </div>
</div>