<div id="navigation" class="navigation" data-scroll>
  <a class="logo local" href="#home">
    {% include assets/text-logo.html %}              
  </a>
  <div class="mobile-only">
    <button class="btn menu_trigger" id="menu_button">
      <span class="visually-hidden">Menu</span>
    </button>
  </div>
  <nav class="navigation__items">
    {% for link in site.data.linklists.main.links %}
      <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% else %}class="local menu_trigger"{% endif %} style="--transition-delay: 0.{{ forloop.index }}s">{{ link.title }}</a>
    {% endfor %}
  </nav>
  <script>
    document.querySelectorAll('.menu_trigger').forEach((x) => {
      x.addEventListener('click', () => {
        let menu = document.querySelector('.navigation__items');
        menu.classList.toggle('active');
        document.getElementById('navigation').classList.toggle('menu_opened');
        document.getElementById('menu_button').classList.toggle('close');
      });
    });
  </script>
</div>