<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include loading.html %}
    <div id="cursor" class="cursor mobile-hide"></div>
    <div class="video_modal">
      {% include assets/close_modal_button.html trigger='video_modal_trigger' %}
      <video id="video_modal_player" controls>
        <source id="video_modal_source">
      </video>
    </div>
    <div class="vimeo_modal">
      {% include assets/close_modal_button.html trigger='vimeo_modal_trigger' %}
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    {% include navigation.html %}
    <div class="wrapper" data-scroll-container>
      {{ content }}
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>